<tr>
  <td><%= link_to discussion.subject, category_discussion_path(category, discussion),
                                      :title => discussion.subject %>
      by <%= discussion.author_name %>
  </td>
  <td><%= discussion.status %></td>
  <td><%= discussion.reply_count %></td>
  <td><%= discussion.latest_post_date %>
      by <%= discussion.latest_post_author %>
  </td>
</tr>

