<%= form_for(form_path) do |f| %>
  <%= render :partial => 'cornerstone/shared/errors',
             :locals => {:rails_model => @discussion} %>

  <div class="field">
    <%= f.label "Private" %><%= f.check_box :privte %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.collection_select :category_id, @categories, :id, :name,
                                          :prompt => "Please select a category" %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>

  <%= f.fields_for :posts, @discussion.posts.first do |p| %>
    <%= render :partial => 'cornerstone/posts/fields', :locals => {:p => p} %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

