<tr>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td><%= category.category_type %></td>
  <td><%= category.item_count %></td>
  <td><%= link_to "Edit", edit_admin_category_path(category), :title => "Edit" %> |
      <%= link_to 'Destroy', [:admin, category], :confirm => 'Are you sure?',
                                                 :method => :delete,
                                                 :title => "Destroy" %>
  </td>
</tr>

